<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Opción 1</a>
    <ng-template ngbNavContent>
      <app-option-one [posts]="posts"></app-option-one>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Opción 2</a>
    <ng-template ngbNavContent>
      <app-option-two [posts]="posts"></app-option-two>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Opción 3</a>
    <ng-template ngbNavContent>
      <app-option-three [posts]="posts"></app-option-three>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>Opción 4</a>
    <ng-template ngbNavContent>
      <app-option-four [posts]="posts"></app-option-four>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
